---
layout: post
slug: "photos"
title: "相册"
noDate: "true"
comments: "false"
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wliduo/Blog@master/source/photos/ins.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/css/justifiedGallery.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.7.2/dist/css/lightgallery.min.css">
<div class="photos-btn-wrap">
	<a class="photos-btn active" href="/photos">日常</a>
	<a class="photos-btn" href="/web">图片</a>
  <a class="photos-btn" target="_blank" href="https://char.dolyw.com/pic">字符</a>
</div>
<div class="instagram itemscope">
  <a class="open-ins">图片正在加载中…</a>
</div>
<!-- <script src="https://cdn.jsdelivr.net/gh/wliduo/Mark@1.0/assets/lib/piclist.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@1.7.2/dist/js/lightgallery.min.js"></script>
<script>
  var insType = "photos";
  var insDefaultNum = -1;
  (function() {
    var loadScript = function(path) {
      var $script = document.createElement('script');
      document.getElementsByTagName('body')[0].appendChild($script);
      $script.setAttribute('src', path);
    }
    setTimeout(function() {
      loadScript('./ins.min.js');
    }, 0)
  })()
</script>
<!-- <script src="https://cdn.jsdelivr.net/gh/wliduo/Blog@master/source/photos/ins.min.js"></script> -->
