---
layout: post
slug: "404"
title: "404"
noDate: "true"
comments: "false"
---
<style>
/* body{margin:0;padding:0;color:#3d3b4f;margin:0;font:normal 14px/20px Helvetica,Arial,PingFang SC,Microsoft YaHei,WenQuanYi Micro Hei,tohoma,sans-serif;background-color:#f9f9f9;user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;cursor:default;position:absolute;width:100%;height:80%;top:20%;overflow:hidden}
.center{height:100%} */
h1{margin:0;font-size:150px;line-height:150px;font-weight:normal}
h2{margin-top:20px;font-size:30px}
/* h3{margin-top:20px} */
.footer{color:#f0f0f0;font-size:12px;padding:2px 20px 8px 20px;height:60px;/* width:calc(100% - 40px); */margin-top:30px;background-color:#474747}
.footer a{color:#f0f0f0;text-decoration:none}
.text{text-align:center}
#hitokoto{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
/* dot{display:inline-block;height:1em;line-height:1;text-align:left;vertical-align:-.25em;overflow:hidden}
dot::before{display:block;content:'...\A..\A.';white-space:pre-wrap;animation:dot 2s infinite step-start both}
@keyframes dot{33%{transform:translateY(-2em)}
66%{transform:translateY(-1em)}} */
</style>
<!-- 新 API 方法， 十分简洁 -->
<script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
<div class="center"><div class="text"><h1>404</h1><h2>Not Found</h2></div></div>
<div class="footer"><p id="hitokoto">获取中...</p></div>
